/* Default styles for larger screens */
.sidebar {
  width: 25%;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: rgba(255, 255, 255, 0.8); /* Translucent background */
}

.sidebar img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.sidebar h2, .sidebar h3 {
  font-family: 'Work Sans', sans-serif;
  color: #333;
}

.main-content {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }

  .sidebar-content {
    display: none;
    padding: 10px;
  }

  .sidebar.open .sidebar-content {
    display: block;
  }

  .main-content {
    width: 100%;
    padding: 10px;
  }

  .close-sidebar {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Translucent background */
  }
}